*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .light-theme{
      --nav-bg: rgba(241, 237, 232, .6);
      --bg: #f1ede8;
      --clr-font: #181818;
      --toggle-btn: #977aE1;
      --gradient-clr1: #977aE1;
      --gradient-clr2: #d57ebf;
      --gradient-clr3:#af9cdf;
      --gradient-clr4:#c40494;
  }
  
  .dark-theme{
    --nav-bg: rgba(15, 13, 14, .6);
      --bg: #0F0D0E;
      --clr-font: #f7f7f7;
      --toggle-btn: #F7ADA5;
      --gradient-clr1: #c38160;
      --gradient-clr2: #F9B961;
      --gradient-clr3:#F7ADA5;
      --gradient-clr4:#ffd900;
     }

  body{
    background: var(--bg);
    overflow-x:hidden;
    scroll-behavior: smooth;
    
  }

  li{
    list-style: none;
    padding-left:2rem;
 
  }

  a{
    text-decoration: none;
    font-size:clamp(1rem, 2vw, 1.3rem);
    color: var(--clr-font);
    font-weight: 500;
    letter-spacing: .2rem;
    text-transform: uppercase;
  }

  nav{
  background:var(--nav-bg);
  display:flex;
  align-items: center;
  width:100vw;
  height:5rem;
  padding:0rem 1rem;
  flex-wrap: wrap;
  position:fixed;
  top:0;
  left:0;
  backdrop-filter: blur(8px);
  z-index:9;
 
  }

  .toggle-btn, .nav-links{
    flex:1;
  }

  .toggle-btn button{
    cursor:pointer;
    color:var(--toggle-btn);
    background:none;
    border:none;
    font-size:3rem;
  }

  .nav-links{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .home-container{
    margin:8rem 2rem 0rem;
    display: grid;
    place-items: center;
  }

  .about-me{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-container img{
    width:9rem;
    height:9rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
  }

  .title{
    font-size:clamp(1.3rem, 2vw, 2rem);
    margin-top:2rem;
    background: -webkit-linear-gradient(right, var(--gradient-clr1) 0%, var(--gradient-clr2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .name{
    font-size:clamp(2rem,5vw,5rem);
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    letter-spacing:  .1rem;
    margin-top:1rem;
    background: -webkit-linear-gradient(right, var(--gradient-clr1) 0%, var(--gradient-clr2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p{
    color: var(--clr-font);
    max-width:700px;
    text-align: center;
    font-size:clamp(1.1rem, 2vw, 1.3rem);
    margin-top:3rem;
  }

   .color-bg-text{
    background: -webkit-linear-gradient(right, var(--gradient-clr1) 0%, var(--gradient-clr2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:1.2rem;
    font-weight: bolder;
  }

  /* .technology-icons{
  margin-top:3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  width:100vw;
  animation:animate 25s linear infinite;
 } */

 /* .icons{
  margin-left:1rem;
  width:5rem;
  height:8rem;
  object-fit: cover;
  padding-bottom:3rem;
  
 } */
/* 
 @keyframes animate {
  0%{
    transform:translateX(100%)
  }
  100%{
    transform: translateX(-100%);
  }
 } */

 .about-me h4{
  cursor:pointer;
  margin-top:2rem;
  font-size: clamp(2rem, 3vw, 3rem);
 }

 .my-skills{
  background: -webkit-linear-gradient(top, var(--gradient-clr3), var(--gradient-clr4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

 #projects{
 display:grid;
 place-items: center;
 margin:2rem auto;

 }

 #projects h2{
  font-size:clamp(1.7rem, 3vw, 2.8rem);
  text-align: center;

 }

 .projects-container{
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100vw;

 }
 
 .projects-container img{
  width:25rem;
  height:50rem;

  position: relative;
 }

 .project-details{
  position:absolute;
  bottom:70%;

  background:white;

 }

 
